<div class="container" ng-controller="exploreCtrl">

    <div class="col-sm-4">
        <div class="card blog-post" ng-click="goTravel()">
            <div class="bp-header">
                <img src="img/google.jpeg" alt="">

                <a class="bp-title">
                    <h2>Google</h2>
                    <small>Have a tour around the Googleplex.</small>
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card blog-post" ng-click="goTravel()">
            <div class="bp-header">
                <img src="img/sanfran.jpeg" alt="">

                <a class="bp-title">
                    <h2>San Francisco</h2>
                    <small>Have you seen the Golden Gate Bridget? </small>
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card blog-post" ng-click="goTravel()">
            <div class="bp-header">
                <img src="img/seattle.jpeg" alt="">

                <a class="bp-title">
                    <h2>Seattle</h2>
                    <small>Explore the emerald city in VR.</small>
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card blog-post" ng-click="goTravel()">
            <div class="bp-header">
                <img src="img/paris.jpeg" alt="">

                <a class="bp-title">
                    <h2>Paris</h2>
                    <small>Paris, the city of love is welcomes you.</small>
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card blog-post" ng-click="goTravel()">
            <div class="bp-header">
                <img src="img/singapore.jpeg" alt="">

                <a class="bp-title">
                    <h2>Singapore</h2>
                    <small>Financial and transportation hub of Asia.</small>
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card blog-post" ng-click="goTravel()">
            <div class="bp-header">
                <img src="img/london.jpeg" alt="">

                <a class="bp-title">
                    <h2>Google</h2>
                    <small>Take a stroll in the capital of the UK.</small>
                </a>
            </div>
        </div>
    </div>

</div>
